@font-face {
  font-family: "SF Thin";
  src: url("fonts/SF/SF-Pro-Display-Thin.otf")format("opentype");
}

@font-face {
  font-family: "SF Regular";
  src: url("fonts/SF/SF-Pro-Display-Regular.otf")format("opentype");
}

body {
  margin: 0;
  border: 0;
  background-color: #f1f1f1;
  overflow-x: hidden;
}

reg {
  font-family: "SF Regular";
  letter-spacing: 0.5px;
}

.lingua {
  margin: 0;
  position: absolute;
  right: 5vh;
  top: 7%;
  transform: translate(0%,-50%);
  font-family: "SF Regular";
  font-size: 2.2vh;
  letter-spacing: 0.2vw;
  color: #ffffff;
  z-index: 1000;
}

.lingua a {
  text-decoration: none;
  color: #ffffff;
}

.logotipo1 {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%,0%);
  height: 8vh;
  width: auto;
  transition: 0.2s;
}

.logotipo2 {
  position: absolute;
  left: 5vh;
  top: 7%;
  transform: translate(0%,-50%);
  height: 5vh;
  width: auto;
  opacity: 0;
}

.logo1 {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%,0%);
  height: 8vh;
  width: auto;
  opacity: 0;
  transition: 0.2s;
}

.logo2 {
  position: absolute;
  left: 5vh;
  top: 7%;
  transform: translate(0%,-50%);
  height: 5vh;
  width: auto;
  opacity: 100;
  z-index: 1000;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  font-family: "SF Regular";
  font-size: 2.2vh;
  letter-spacing: 0.2vw;
  width: 100vw;
  text-align: center;
}

.down {
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.high {
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: 0.3s;
}

.menu li {
  display: inline-block;
  padding-left: 1vw;
  padding-right: 1vw;
}

.menu li a {
  text-decoration: none;
  color: #ffffff;
}

.background_container {
  position: absolute;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.background {
  position: inherit;
  top: -12%;
  width: 100vw;
  height: auto;
}

.title_trw {
  position: absolute;
  top: 65%;
  left: 25%;
  transform: translate(0,-50%);
}

.title_img {
  height: 3.5vh;
  width: auto;
}

.title_trw .description {
  color: #ffffff;
}

.color_section {
  width: 2.2vw;
  height: 0.6vh;
  background-color: #f8a929;
  margin: 0;
  margin-top: 4vh;
  margin-left: 4vh;
  transform: translate(0,50%);
}

.description {
  font-family: "SF Thin";
  font-size: 2.2vh;
  line-height: 3vh;
  letter-spacing: 1px;
  color: #000000;
  margin: 0;
  margin-top: 4vh;
  margin-left: 4vh;
}

.body_moving {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 100%;
  background-color: #f1f1f1;
}

.container1 {
  width: 55vw;
  height: 60vh;
  position: absolute;
  top: 10vh;
  left: 50%;
  transform: translate(-42vw,0);
  overflow: hidden;
}

.img1 {
  position: absolute;
  top: -15vh;
  width: 55vw;
  height: auto;
}

.title_container {
  position: absolute;
  bottom: 7vh;
  left: 7vh;
  font-family: "SF Regular";
  font-size: 3.5vh;
  line-height: 4.5vh;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.container2 {
  position: absolute;
  top: 10vh;
  left: 50%;
  transform: translate(16vw,0);
  width: 26vw;
  height: 60vh;
}

.text_container {
  font-family: "SF Thin";
  font-size: 2.2vh;
  line-height: 3vh;
  letter-spacing: 1px;
  margin: 0;
  margin-top: 7vh;
  text-align: justify;
}

.link_stories {
  text-decoration: none;
  color: #000000;
  font-family: "SF Regular";
  letter-spacing: 0.5px;
  font-size: 2.2vh;
  margin: 0;
  position: absolute;
  bottom: 1vw;
}

.container_square {
  width: 26vw;
  height: 26vw;
}

.num1 {
  position: absolute;
  top: calc(70vh + 3vw);
  left: 50%;
  transform: translate(-42vw,0);
}

.num2 {
  position: absolute;
  top: calc(70vh + 3vw);
  left: 50%;
  transform: translate(-50%,0);
}

.num3 {
  position: absolute;
  top: calc(70vh + 3vw);
  left: 50%;
  transform: translate(16vw,0);
}

.img_square {
  width: 26vw;
  height: auto;
}

.socials {
  position: absolute;
  right: 5vh;
  top: calc(85vh + 29vw);
  transform: translate(0%,-50%);
}

.socials a {
  text-decoration: none;
}

#facebook, #pinterest, #instagram {
  height: 2.5vh;
  width: auto;
}

#pinterest {
  margin-left: 5vh;
  margin-right: 5vh;
}

#support {
  margin: 0;
  margin-bottom: 5vh;
  position: absolute;
  left: 50%;
  top: calc(85vh + 29vw);
  transform: translate(-50%,-50%);
  font-family: "SF Regular";
  font-size: 2.2vh;
  letter-spacing: 0.2vw;
  padding: 1vw;
  padding-top: 0.8vh;
  padding-bottom: 0.8vh;
  border: 1px solid black;
  border-radius: 2vh;
}

#support a {
  text-decoration: none;
  color: #000000;
}

.exit_link {
  position: inherit;
  left: 67vw;
  top: -1vw;
  transform: translate(-50%,-50%);
}

.exit {
  height: 5vh;
  width: auto;
}

.num1_description, .num2_description, .num3_description {
  width: 66vw;
  height: 26vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #ffffff;
  border-radius: 40px;
  z-index: 1000;
}

.img_post_link {
  position: inherit;
  left: 2vw;
  top: 2vw;
}

.img_post {
  height: 22vw;
  width: auto;
  border-radius: 30px;
}

.description_text {
  width: 36vw;
  height: 22vw;
  position: inherit;
  top: 7vh;
  left: 27vw;
  font-family: "SF Thin";
  font-size: 2.2vh;
  line-height: 3vh;
  letter-spacing: 0.5px;
}

.description_text p {
  margin: 0;
}

.hidden {
  display: none;
}

.blurred {
  filter: blur(5px);
  -webkit-filter: blur(5px);
}
